# NO HAY PORBLEMA DE ESTOS DATOS PERO OJO CON PRIVADOS, SOLO PONER ESTRUCTURA
# Backend Configuration
BACKEND_PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Frontend Configuration
FRONTEND_PORT=5173
VITE_BACKEND_URL=http://localhost:3001